.header
  text-align: center
  background: url('../../../static/images/bg-pattern-top-mobile.svg') no-repeat
  background-size: 103%
  &-titulo
    font-size: 2em
    padding: 1.3em 1em 0
    font-weight: 700
    color: $veryDarkMagenta
  &-p
    font-size: 1em
    font-weight: 500
    line-height: 1.8
    color: $darkGrayishMagenta
